In [ ]:
from google.colab import files
uploaded = files.upload()

Saving loan-train.csv to loan-train.csv

In [ ]:
# Loading the dataset
import pandas as pd
df=pd.read_csv("loan-train.csv")
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [ ]:
#Getting the dimensionality of the dataset
print(df.shape)

(614, 13)

In [ ]:
df1=df.head(20)
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y

In [ ]:
# Getting statistical data interpretation of all the columns
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [ ]:
df[['ApplicantIncome','CoapplicantIncome','LoanAmount']].describe()

       ApplicantIncome  CoapplicantIncome  LoanAmount
count       614.000000         614.000000  592.000000
mean       5403.459283        1621.245798  146.412162
std        6109.041673        2926.248369   85.587325
min         150.000000           0.000000    9.000000
25%        2877.500000           0.000000  100.000000
50%        3812.500000        1188.500000  128.000000
75%        5795.000000        2297.250000  168.000000
max       81000.000000       41667.000000  700.000000

In [ ]:
# DATA CLEANING

In [ ]:
# Finding any null values are there are not
df.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Checking whether atleast any one null value is present in the dataset or not.
df.isnull().values.any()

True

In [ ]:
# Classifying the data into correct and loan approval according to their loan status.
ash=df[df['Loan_Status']=='Y']
valid=df[df['Loan_Status']=='N']
print(len(ash))
print(len(valid))
print(ash)
print(valid)

422
192
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
..        ...     ...     ...        ...           ...           ...
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
..              ...           ...         ...
608             1.0         Rural           Y
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y

[422 rows x 13 columns]
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
13   LP001029    Male      No          0      Graduate            No
17   LP001036  Female      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
596  LP002941    Male     Yes          2  Not Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
605  LP002960    Male     Yes          0  Not Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
7               3036             2504.0       158.0             360.0
9              12841            10968.0       349.0             360.0
13              1853             2840.0       114.0             360.0
17              3510                0.0        76.0             360.0
..               ...                ...         ...               ...
596             6383             1000.0       187.0             360.0
597             2987                0.0        88.0             360.0
600              416            41667.0       350.0             180.0
605             2400             3800.0         NaN             180.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
7               0.0     Semiurban           N
9               1.0     Semiurban           N
13              1.0         Rural           N
17              0.0         Urban           N
..              ...           ...         ...
596             1.0         Rural           N
597             0.0     Semiurban           N
600             NaN         Urban           N
605             1.0         Urban           N
613             0.0     Semiurban           N

[192 rows x 13 columns]

In [ ]:
#outliers
outlierfraction=len(ash)/len(valid)
print(outlierfraction)

2.1979166666666665

In [ ]:
# Getting the details of the loan amount
print("Loan amount details:")
print(ash.LoanAmount.describe())
print(ash.mean())

Loan amount details:
count    411.000000
mean     144.294404
std       85.484607
min       17.000000
25%      100.000000
50%      126.000000
75%      161.000000
max      700.000000
Name: LoanAmount, dtype: float64
ApplicantIncome      5384.068720
CoapplicantIncome    1504.516398
LoanAmount            144.294404
Loan_Amount_Term      341.072464
Credit_History          0.981818
dtype: float64

<ipython-input-13-54c0d4e88bdd>:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(ash.mean())

In [ ]:
# From the above data, we can interprete that count=411 which means loan amount is very less. The minimum 
#loan amount is 17 and maximum laon amount 700

In [ ]:
print("valid amount details:")
print(valid.LoanAmount.describe())
print(valid.mean())

valid amount details:
count    181.000000
mean     151.220994
std       85.862783
min        9.000000
25%      100.000000
50%      129.000000
75%      176.000000
max      570.000000
Name: LoanAmount, dtype: float64
ApplicantIncome      5446.078125
CoapplicantIncome    1877.807292
LoanAmount            151.220994
Loan_Amount_Term      344.064516
Credit_History          0.541899
dtype: float64

<ipython-input-14-b7583ffcf9f8>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(valid.mean())

In [ ]:
# From the above data, we can interprete that count=411 which means number of loan given is very high. The minimum
# valid amount is 9 and maximum loan amount is 570

In [ ]:
# Calculate spread (standard deviation) for each class
std1=ash.std()
print(std1)

ApplicantIncome      5765.441615
CoapplicantIncome    1924.754855
LoanAmount             85.484607
Loan_Amount_Term       63.247770
Credit_History          0.133782
dtype: float64

<ipython-input-15-949c6a03de1b>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std1=ash.std()

In [ ]:
#Calculate spread (standard deviation) for each class
std2=valid.std()
print(std2)

ApplicantIncome      6819.558528
CoapplicantIncome    4384.060103
LoanAmount             85.862783
Loan_Amount_Term       69.238921
Credit_History          0.499639
dtype: float64

<ipython-input-16-53f34e4eb24a>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std2=valid.std()

In [ ]:
print("mean of loan amount is",np.mean(data))
print("variance of loan amount is",np.var(data))

mean of loan amount is LoanAmount    146.412162
dtype: float64
variance of loan amount is LoanAmount    7312.816609
dtype: float64

In [22]:
import numpy as np
import pandas as pd
# Store the real mean in a separate variable
real_mean = round(df['LoanAmount'].mean(),3)
print(real_mean)

141.166